<!DOCTYPE html>
<html ng-app="ProviderSearch" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Provider Search</title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css"/>

</head>
<body>
<br></br>
<h3 style="text-align: center;"><i class="teal circle thin icon"></i>MEDCOMPANY</h3>
<h4 style="text-align: center; margin-top: -1%;">Medcompany Efficacy Study</h4>

<br></br>

	<div ng-view></div>

</body>
</html>