<div class="ui grid">

	<div class="three wide column"></div>

	<div class="ten wide column">

		<h3 style="text-align: center;">Search for a physician or organization</h3>
		<div class="ui fluid icon input" style="margin-top: 2%;">
		  <input ng-model="search" type="text" placeholder="Search for a doctor, physician, or organization by name">
		  <i class="search icon"></i>
		</div>

		<div ng-show="search" class="ui large middle aligned selection list">
		  <div class="item" ng-repeat="object in data | filter: search" ng-click="postInfo()">
		    <div class="right floated content">
		    	<i class="right chevron icon"></i>
		    </div>
		    <div class="content">
		    	<div ng-show="object.first_name" class="header"><i class="doctor icon"></i>{{object.first_name}} | Zip Code: {{object.zip}} | NPI: {{object.npi}}</div>


		      <div ng-show="object.organization_name" class="header"><i class="hospital icon"></i>{{object.organization_name}} | Zip Code: {{object.zip}} | NPI: {{object.npi}}</div>
		    </div>
		  </div>
		</div>
		</div>

		<div class="three wide column"></div>

</div>
